body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  background: #345d75e3;
  color: #e9e9e9;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-header {
  margin-bottom: 2rem;
}

.banner {
  position: relative;
  width: 100%;
  height: clamp(180px, 25vw, 260px); 
  overflow: hidden;
}

.banner-img {
  width: 600%;
  height: 60%;
  object-fit: cover;     /* CRITICAL */
  object-position: center;
  display: block;
}

.profile-info {
  position: relative;
  max-width: 800px;
  margin: -70px auto 0;   
  padding: 0 1rem;
  text-align: center;
}

.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  background: white;
}

.profile-info h1 {
  margin: 0.75rem 0 0.25rem;
}

.profile-info p {
  margin: 0;
  color: #dbdbdb;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 0.3rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

a {
  color: #dfdfdf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #345d75e3;
  font-size: 0.9rem;
}

.project {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  align-items: flex-start;
}

.project video {
  width: 320px;
  border-radius: 8px;
}

.project-text h3 {
  margin-to

@media (max-width: 768px) {
  .project {
    flex-direction: column;
  }
}
}

.project video {
    width: 100%;
}


